@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

.toggle-button-offset {
  padding-left: 0rem;
  background-color: #FAF9F8;
}

@media (min-width: 992px) {
  .toggle-button-offset {
    padding-left: 2.188rem;
  }
}

.breadcrumb {
  margin: 0;
  padding: 1.3rem;
}

a:hover {
  cursor: pointer;
}