@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

$table-stripe-dark: #f2f2f2;

.white-divider {
  background-color: white;
  height: 3px;
}

.table-stripe-dark {
  background-color: $table-stripe-dark;
}

.audio-column {
  padding-top: 0.7rem;
  i {
    font-size: 1.25rem;
  }
}

.pointer {
  cursor: pointer;
}
