<div class="alert alert-danger" role="alert">This page is a work in progress!</div>

<section class="mb-4">
  <h2>Set status to repealed</h2>
</section>

<section class="w-100 mb-4">
  <div>
    This will change the status from Current to Reealed. The name currently in use will become a historical name. This
    should only be done after an OIC has been issued to repeal this protected area. This action cannot be undone.
  </div>
</section>

<section>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-outline-primary action-buttons" (click)="cancel()" [disabled]="loading">
      Cancel
    </button>
    <button type="button" class="btn btn-primary action-buttons" disabled>Set status to repealed</button>
  </div>
</section>
