@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

button {
  background: $secondary;
  border-radius: 0 6px 6px 0;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
  height: 48px;
  width: 35px;
  padding: 0;
}

button:hover {
  background: $bcgold;
}

.rotate {
  -moz-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.rotate.closed {
  transform: rotate(180deg);
}