(function (window) {
  window.__env = window.__env || {};

  window.__env.logLevel = 3; // Warn

  // Get config from remote host?
  window.__env.configEndpoint = localConfigEndpoint;

  // Environment name
  window.__env.ENVIRONMENT = "local"; // local | dev | test | prod

  window.__env.GH_HASH = "localGHHash";
  window.__env.KEYCLOAK_CLIENT_ID = "data-register";
  window.__env.KEYCLOAK_URL = "https://dev.loginproxy.gov.bc.ca/auth";
  window.__env.KEYCLOAK_REALM = "bcparks-service-transformation";
  window.__env.KEYCLOAK_ENABLED = true;

  // Add any feature-toggles
  // window.__env.coolFeatureActive = false;
})(this);
