<app-info-section
  [title]="title"
  *ngIf="data"
>
  <app-info-section-row
    key="Effective date"
    [data]="data?.effectiveDateDisplay"
  ></app-info-section-row>
  <app-info-section-row
    key="Legal name"
    [data]="data?.legalName"
  ></app-info-section-row>
  <app-info-section-row
    key="Display name"
    [data]="data?.displayName"
  ></app-info-section-row>
  <app-info-section-row
    key="Phonetic name"
    [data]="data?.phoneticName"
  ></app-info-section-row>
  <app-info-section-row
    key="Audio link"
    [data]="data?.audioClip"
  >
    <a
      *ngIf="data?.audioClip"
      href="{{ data?.audioClip }}"
    >{{ data?.audioClip || null }}</a>
  </app-info-section-row>
</app-info-section>