<section class="m-4">
  <app-name-header
    *ngIf="checkNoSubpath()"
    [headerData]="headerData"
  ></app-name-header>
  <router-outlet></router-outlet>
  <div
    class="container-fluid pb-4 px-4"
    *ngIf="state !== 'edit'"
  >
    <app-protected-area-details *ngIf="displayLevel === 'protected-area'"></app-protected-area-details>
    <app-site-list *ngIf="displayLevel === 'sites'"></app-site-list>
  </div>
</section>

<ng-template #interactionTemplate>
  <div *ngIf="state === 'details'">
    <div class="dropdown">
      <button
        type="button"
        class="btn btn-primary d-flex"
        data-bs-toggle="dropdown"
        [disabled]="isLoading()"
      >
        Edit<div class="bt bi-caret-down-fill ms-3"></div>
      </button>
      <ul class="dropdown-menu">
        <li>
          <button
            class="btn btn-link dropdown-item d-flex"
            (click)="navigateMinorEdit()"
          >
            <div class="bi bi-pen-fill me-2"></div>
            Minor edit
          </button>
        </li>
        <li>
          <button
            class="btn btn-link dropdown-item d-flex"
            (click)="navigate('major')"
            [disabled]="isRepealed()"
          >
            <div class="bi bi-arrow-clockwise me-2"></div>
            Legal name
          </button>
        </li>
        <li>
          <button
            class="btn btn-link dropdown-item d-flex"
            (click)="navigate('repeal')"
            [disabled]="isRepealed()"
          >
            <div class="bi bi-toggles me-2"></div>
            Repeal
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="state=== 'edit'">
    <button
      type="button"
      class="btn btn-outline-primary my-3 my-sm-0"
      (click)="navigate('')"
      [disabled]="isLoading()"
    >
      Details<i class="bi bi-eye-fill ms-2"></i>
    </button>
  </div>
</ng-template>