<div class="container-fluid bg-info p-4">
  <section class="pb-3">
    <h3>Find a protected area</h3>
    <div class="row-cols-1 row-cols-md-2 row row-cols-lg-3 g-3">
      <div class="col">
        <ngds-text-input
          class="form-id"
          [control]="form?.controls?.['text']"
          [label]="'Search'"
          [resetButton]="true"
          [placeholder]="'Enter any search term'"
        ></ngds-text-input>
      </div>
      <div class="col">
        <ngds-picklist-input
          [control]="form?.controls?.['type']"
          [selectionListItems]="typePicklistItems"
          [label]="'Filter by type'"
          [placeholder]="'Any'"
        >
        </ngds-picklist-input>
      </div>
      <div class="col">
        <ngds-picklist-input
          [control]="form?.controls?.['status']"
          [selectionListItems]="statusPicklistItems"
          [label]="'Filter by protected area status'"
          [placeholder]="'Any'"
        >
        </ngds-picklist-input>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col-12 col-md-4">
        <div class="d-grid">
          <button type="button" class="btn btn-primary" (click)="submit()">Search</button>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container-fluid p-4">
  <h3>Search results</h3>
  <table class="table table-striped" aria-label="Name search results">
    <thead>
      <tr>
        <th scope="col" colspan="1">Park ID</th>
        <th scope="col">LEGAL NAME</th>
        <th scope="col">TYPE</th>
        <th scope="col">Protected Area Status</th>
        <th scope="col" colspan="1">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <th class="pt-3 pb-3" scope="row" colspan="1">{{ item.pk }}</th>
        <td class="pt-3 pb-3">
          <strong>{{ item.legalName }}</strong>
        </td>
        <td class="pt-3 pb-3">{{ item.type }}</td>
        <td class="pt-3 pb-3">{{ item.status }}</td>
        <td class="action-column" colspan="1">
          <div class="d-flex">
            <i class="bi bi-eye me-4" (click)="viewItem(item)"></i>
            <i class="bi bi-pen" (click)="editItem(item)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="data.length === 0">
    No results. Try a new search.
    <hr />
  </div>
</div>
