<section class="mb-4">
  <h2>Edit record</h2>
</section>

<section>
  <h3 class="mb-4">What do you want to do?</h3>
  <div class="row mb-4">
    <div class="col-12 col-sm-4 mb-2 mb-sm-4">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button"><i class="bi bi-pen me-2"></i>Edit current name data</button>
      </div>
    </div>
    <div class="col-12 col-sm-8 text-muted">
      <div class="d-flex flex-row">
        <div class="me-3"><i class="bi bi-info-circle"></i></div>
        <div class="fs-5">Use only for minor changes like typos or to add missing information.</div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 col-sm-4 mb-2 mb-sm-4">
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" type="button">
          <i class="bi bi-arrow-clockwise me-2"></i>Change legal name
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-8 text-muted">
      <div class="d-flex flex-row">
        <div class="me-3"><i class="bi bi-info-circle"></i></div>
        <div class="fs-5">Use only to add a new legalname and move the current name to historical.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 mb-2 mb-sm-4">
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" type="button">
          <i class="bi bi-toggles me-2"></i>Set status to repealed
        </button>
      </div>
    </div>

    <div class="col-12 col-sm-8 text-muted">
      <div class="d-flex flex-row">
        <div class="me-3"><i class="bi bi-info-circle"></i></div>
        <div class="fs-5">Use to change the protected area status from Current to Repealed.</div>
      </div>
    </div>
  </div>
</section>
