@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

h1 {
  font-size: 2.8rem;
  font-weight: normal;
}

.login-container {
  background-color: white;
  min-height: 100%;
  padding: 1.4rem 0.6rem;
}

.login-form {
  background: white;
  max-width: 50rem;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .login-container {
    background: $form-grey;
    padding: 0;
  }
  .login-form {
    border: 1px solid $alpha-border-color;
    width: 75%;
  }
}

.btn-login {
  background: $primary;
  color: white;
  margin-top: 0.75rem;

  &:hover {
    opacity: 0.9;
  }
}

.btn-login,
a.reg-link {
  width: 18rem;
  max-width: 100%;
}

a.reg-link {
  text-align: left;
  margin-bottom: 0.5rem;
  display: inline-block;
  margin-top: 0.25rem;

  i {
    margin-right: 0.25rem;
  }
}
