@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

body {
  background: #ffffff;
  margin: 50px 300px;
}

.slider {
  position: absolute;
  width: 100%;
  height: 5px;
  overflow-x: hidden;
}

.line {
  position: absolute;
  opacity: 0.4;
  background: $bcgold;
  width: 150%;
  height: 5px;
}

.subline {
  position: absolute;
  background: $bcgold;
  height: 5px;
}
.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    right: -5%;
    width: 5%;
  }
  to {
    right: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    right: -80%;
    width: 80%;
  }
  to {
    right: 110%;
    width: 10%;
  }
}
