<section class="mb-5">
  <h2>Legal name</h2>
  <app-protected-area-details-section [data]="currentData"></app-protected-area-details-section>
</section>

<section class="mb-5">
  <h2>Search terms</h2>
  {{ currentData?.searchTerms || "-" }}
</section>

<section class="mb-5">
  <h2>Notes</h2>
  {{ currentData?.notes || "None" }}
</section>

<section class="mb-5" *ngFor="let data of historicalData">
  <h2>Historical name</h2>
  <app-protected-area-details-section [data]="data"></app-protected-area-details-section>
</section>

<section class="mb-5">
  <h2>Sites</h2>
  <app-site-list></app-site-list>
</section>

<!-- <section class="mb-5">
  <h2>Associated sites</h2>
  <small class="me-5">None</small>
</section>

<section class="mb-5">
  <h2>Recent chances</h2>
  <small class="me-5">None</small>
</section> -->