<!-- Legal name -->
<app-protected-area-details-section
  title="Legal name"
  [data]="currentData"
></app-protected-area-details-section>

<!-- Search terms -->
<app-info-section title="Search terms">
  {{ currentData?.searchTerms || "-" }}
</app-info-section>

<!-- Notes -->
<app-info-section title="Notes">
  {{ currentData?.notes || "None" }}
</app-info-section>

<!-- Historical data -->
<app-protected-area-details-section
  title="Historical name"
  *ngFor="let data of historicalData"
  [data]="data"
></app-protected-area-details-section>

<!-- Sites -->
<section class="mb-5">
  <h2>Sites</h2>
  <app-site-list></app-site-list>
</section>