<footer class="footer-admin">
  <div>
    <ul class="justify-content-center gov-links pt-3 pb-3">
      <li><a href="#" id="home">Home</a></li>
      <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" id="copyright" target="_blank">Copyright</a></li>
      <li>
        <a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" id="disclaimer" target="_blank">Disclaimer</a>
      </li>
      <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" id="privacy" target="_blank">Privacy</a></li>
      <li>
        <a href="http://www2.gov.bc.ca/gov/content/home/accessibility" id="accessibility" target="_blank"
          >Accessibility</a
        >
      </li>
    </ul>
  </div>
</footer>
