@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

.land-acknowledgement {
  background: #2464A4; 
  color: white; 
  text-align: center; 
  width: 100vw; 
  margin: 0; 
  padding: 1.2rem 0; 
  position: relative; 
  border-top: $bcgold 0.1rem solid; 
}
.land-acknowledgement p {
  margin: 0; 
  padding: .5rem 0; 
  font-size: 1.2rem; 
}

.footer-admin {
  background-color: $primary-nav;
  color: white;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: $bcgold;
}

.gov-links {
  font-size: 0.875rem;
  line-height: 1rem;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    &:after {
      position: relative;
      top: -1px;
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: 0.25rem;
      content: "|";
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
